<div id='flexContainer'>  
     Welcome {{currentUser.local.email}}
     <h3>Recipe of the Day</h3>
     <div class='recipeDay'>
        <p>{{fullRecipes}}</p>
    </div>


<h3>Share your recipes with us!</h3>
<form action="/recipes/{{recipe.title}}?_method=put" method="post">
    <input class='inputTitle' type="text" name='Recipe[title]' placeholder="New Recipe Title" value="{{recipe.title}}">
    <input class='inputField' type="text" name='Recipe[description]' placeholder="Recipe Description" value="{{recipe.description}}">
    <input class='inputField' type="text" name='Recipe[ingredients]' placeholder="Recipe Ingredients" value="{{recipe.ingredients}}">
    <input class='inputField' type="text" name='Recipe[instructions]' placeholder="Recipe Instructions" value="{{recipe.instructions}}">
    <input class='submit' type="submit" value='Post'>
</form>

<h2><a href="/recipes">See our latest Recipes</a>
</h2>

 </div>
